@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-justify-last-left {
        text-align: justify;
        word-spacing: -2px;
    }
}

html,
body {
    @apply bg-cat-crust text-cat-text font-medium min-h-screen;
    font-family: theme("fontFamily.poppins");
}

.jetbrains_font {
    font-family: theme("fontFamily.jetbrains");
}

#photo {
    position: relative;
}

#arrow_photo {
    position: absolute;
    top: 20%;
    right: 98%;
    width: 330px;
    height: auto;
}

mark {
    /* @apply bg-cat-sapphire/50 text-cat-subtext1 px-2; */
    @apply bg-cat-sky bg-opacity-30 text-cat-text px-2;
}

mark.with-link,
.link {
    @apply hover:text-cat-flamingo;
}

.skeleton {
    @apply border-2;
}

.skeleton-disabled {
    @apply border-transparent;
}

.section-title {
    @apply tracking-[.25em] text-cat-peach text-base font-semibold mb-8;
}

.badge-project-skill {
    @apply tracking-[.25em]
     bg-transparent text-cat-lavender text-sm font-semibold
     border-cat-lavender border-2 px-4 uppercase;
}

@media print {
    html {
        font-size: 55%;
    }

    #what_i_want {
        word-spacing: -0.05em;
    }

    #arrow_photo {
        transform: scale(0.6);
        transform-origin: top right;
    }

    .information-icon {
        width: 14px;
        height: 14px;
    }

    .achievement-icon {
        width: 12px;
        height: 12px;
    }

    .skill-icon,
    .certification-icon,
    .online-presence-icon {
        width: 18px;
        height: 18px;
    }
}
