@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply bg-cat-crust text-cat-text min-h-screen;
    font-family: theme("fontFamily.poppins");
}

.jetbrains_font {
    font-family: theme("fontFamily.jetbrains");
}

#photo {
    position: relative;
}

.arrow_photo {
    position: absolute;
    top: 20%;
    right: 98%;
    width: 330px;
    height: auto;
}

.skeleton {
    @apply border-2;
}

.skeleton-disabled {
    @apply border-transparent;
}
