@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-justify-last-left {
        text-align: justify;
        word-spacing: -2px;
    }
}

html,
body {
    @apply bg-cat-crust text-cat-text font-medium min-h-screen;
    font-family: theme("fontFamily.poppins");
}

.jetbrains_font {
    font-family: theme("fontFamily.jetbrains");
}

#photo {
    position: relative;
}

#arrow_photo {
    position: absolute;
    top: 20%;
    right: 98%;
    width: 330px;
    height: auto;
}

mark {
    @apply bg-cat-mauve/80 text-cat-crust px-2;
}

mark.with-link {
    @apply hover:bg-cat-flamingo;
}

.skeleton {
    @apply border-2;
}

.skeleton-disabled {
    @apply border-transparent;
}

.section-title {
    @apply tracking-[.25em] text-cat-peach text-base font-semibold mb-8;
}

/* @media print {
    html {
        font-size: 60%;
    }
    #me_photo {
        width: 60%;
        height: auto;
    }
    #arrow_photo {
        transform: scale(0.6);
        transform-origin: top right;
    }
} */

@media print {
    html {
        font-size: 55%;
    }

    /* .container {
        width: 100%;
        max-width: none;
    }

    .mx-auto {
        margin-left: 0;
        margin-right: 0;
    } */

    /* #me_photo {
        width: 60%;
        height: auto;
        transform-origin: top right;
    } */

    #what_i_want {
        word-spacing: -0.05em;
    }

    #arrow_photo {
        transform: scale(0.6);
        transform-origin: top right;
    }

    .information-icon {
        width: 14px;
        height: 14px;
    }

    .skill-icon,
    .certification-icon,
    .online-presence-icon {
        width: 18px;
        height: 18px;
    }
}
